@font-face {
  font-family:'Roboto', sans-serif;
  src: url("../fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family:'Roboto', sans-serif;
  src: url("../fonts/Roboto-Black.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family:'Roboto', 'Arial', sans-serif;
  src: url("../fonts/RobotoCondensed-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family:'Roboto', 'Arial', sans-serif;
  src: url("../fonts/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family:'Roboto', 'Arial', sans-serif;
  src: url("../fonts/Roboto-MediumItalic.ttf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family:'Roboto', 'Arial', sans-serif;
  src: url("../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family:'Playfair Display', 'Arial', sans-serif;
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@import "mixins";

@import "variables.scss";

