@import "../fonts/fonts.scss";
@import "mixin.scss";
@import "variables.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/head-catalog.scss";
@import "blocks/main-slider.scss";
@import "blocks/main-products.scss";
@import "blocks/footer.scss";

/* Общие стили */

body {
  font-family: $mainFontFamily;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
    width: 1158px;
    margin: 0 auto;
}

@media screen and (max-width: $tabletSize) {
  .wrapper {
    width: 720px;
    margin: 0 auto;
  }
}

