
@mixin navfont($mainFontFamily, $navFontSize, $navLineHeight, $weight, $darkGrey) {
  font-family: $mainFontFamily;
  font-size: $navFontSize;
  line-height: $navLineHeight;
  font-weight: $weight;
  color: $darkGrey;
}

 @mixin Font($mainFontFamily, $mainFontSize, $mainLineHeight, $weight, $darkGrey) {
    font-family: $mainFontFamily;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    font-weight: $weight;
    color: $darkGrey;
 }
