

  @media  (max-width: $mobileSize) {

    .main__slider{
      background:none;
      width: 230px;
      height: 126px;
      margin-bottom: 54px;
    }

    .main__slider-title,
    .main__slider-subtitle,
    .main__slider-subtitle--tab,
    .main__slider-link,
    .slider__buttons {
      display: none;
    }

    .main__slider-mob{
      display: block;
    }

    .main__slider-mob--descr{
      margin-right: 15px;
    }

    .main__slider-title--mob{
      @include Font($mainFontFamily, $mainFontSize, $navLineHeight, $weightNorm, $darkGrey);
    }

    .main__slider-subtitle--mob{
      font-family: inherit;
      font-size: 10px;
      font-weight: 400;
      line-height: 10px;
      margin-bottom: 15px;
      margin-top: 0;
      color: $darkGrey;
    }
    
    .main__slider-intro,
    .main__slider-intro:before{
      background: none;
    }

    .main__slider-mob{
      display: flex;
    }


  }