  .main__products,
  .main__products-catalog {
    margin-bottom: 70px;
  }

  .main__products-catalog{
    margin-top: 160px;
  }
  
  .main__products-title {
    @include Font($mainFontFamily, $mainFontSize, $mainLineHeight, $weight, $darkGrey);
    margin-top: 30px;
    position: relative;
    margin-bottom: 110px;
    left: 3px;
  }
  
  .main__products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
    row-gap: 95px;
    padding-left: 0;
  }

  .main__products-list--catalog{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 0;
    row-gap: 95px;
    padding-left: 0;
  }

  .main__products-item{
    position: relative;
  }

  .main__products-descr {
    display: grid;
    position: relative;
  }
  
  .main__products-promo{
    position: absolute;
    top: -210px;
    display: flex;
    align-items: center;
    margin-right: 7px;
  }

  .main__products-like{
    position: absolute;
    top: -56px;
    right: 20px;
    width: 19px;
    height: 17px;
    cursor: pointer;
    

    &_clicked {
      cursor: pointer;
      stroke-width: 10%;
      stroke:red;
      transition: .3s linear;
    }
  }

  @media (max-width: $tabletSize) {
    .main__products,
    .main__products-catalog {
    margin-bottom: 70px;
    margin-left: 24px;
    margin-right: 24px;
  }
    .main__products-list{
      display: grid;
      grid-template-columns: 0.5fr 0.5fr 1.2fr;
      column-gap: 30px;
      row-gap: 43px;
      margin-bottom: 40px;
    }

    .main__products-item{
      display: none;
    }
  }

  @media (max-width: $mobileSize) {
    .main__products{
      margin-left: 72px;
    }
    
    .main__products-list{  
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
      width: 290px;
      height: 169px;
      margin: 0;
    }

    .main__products-title{
      @include Font($mainFontFamily, $mainFontSize, $mainLineHeight, $weightPr, $darkGrey);
      margin-bottom: 60px;
    }

    .main__products-promo{
      top: -103px;
    }
    
  }
 