.nav__list-main {
    display: flex;
    padding-left: 0;
  }
  
  .nav__item {
    margin-right: 30px;
  }
  
  .nav__link {
    @include Font($mainFontFamily, $navFontSize, $navLineHeight, $weight, $darkGrey);
    transition: color .2s linear;

    &:hover {
      color: #245462;
    }
  }
  