.offers{
    width: 100%;
    background-color: #d7e8ed;
    margin-bottom: 48px;
}

.offers__inner{
    width: 554px;
    min-height: 546px;
    margin: 0 auto;
}

.offers__descr{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;

    &:first-child{
      padding-top: 80px;
    }

    &:last-child{
      margin-bottom: 0;
      padding-bottom: 80px;
    }

}

.offers__title{
    @include Font($mainFontFamily, $fontSize, $lineHeight, $weight, $darkGrey);
    letter-spacing: 1.5%;
    color: $darkGrey;
    margin: 0;

    &:after{
      content: " ";
      display: block;
      position: relative;
      left: 0;
      width: 50px;
      border: 1px solid #245462;
      opacity: 0.5;
      margin: 15px auto;
    }

}

.offers__text{
    @include Font($mainFontFamily, $navFontSize, $AboutLineHeight, $weight, $AboutPage);
    text-align: center;
    margin: 0;
}