.support{
    margin: 0 260px;
}

.support__title{
    font-family: $mainFontFamily;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 75px;
    color: $darkGrey;
}

.support__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 84px;
}

.support__cards{
    position: relative;
}

.support__cards-pic{
    position: absolute;
    transform: translate(-50px,50px);
}

.support__descr{
    width: 281px;
    min-height: 100px;
    margin-right: 0;
}
.support__cards-text--end{
    display: block;
    margin-top: 20px
}
.support__cards-text{
    @include Font($mainFontFamily, $navFontSize, $AboutLineHeight, $weightPr, $darkGrey);
}

.support__cards-descr{
    @include Font($mainFontFamily, $navFontSize, $AboutLineHeight, $weight, $darkGrey);
    margin: 0;
}

.support__suptitle{
    font-family: $mainFontFamily;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    text-align: center;
    color: $darkGrey;
    margin: 174px 0 207px;
}