/* Chekbox color*/

.catalog__checkbox-text{
    @include Font($mainFontFamily, $navFontSize, $navLineHeight, $weight, $darkGrey);
    display: block;
}

.check__color-input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.check__color{
    position: relative;
}

.check__color-input:checked{
    background: url(Images/Svg/vec-check.svg);
    background-size: cover;
    width: 8px;
    height: 5px;
}

.checkbox__color{
    display: flex;
    margin: 20px 0;
}

.check__box-red{
    display: block;
    width: 18px;
    height: 18px;
    background: #e94848;
    margin-right: 10px;
}
.check__box-green{
    display: block;
    width: 18px;
    height: 18px;
    background-color: #43bf57;
    margin-right: 10px;
}
.check__box-white{
    display: block;
    width: 18px;
    height: 18px;
    background-color: #e4e4e4;
    margin-right: 10px;
}
.check__box-black{
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3e3e3e;
    margin-right: 10px;
}
.check__box-grey{
    display: block;
    width: 18px;
    height: 18px;
    background-color: #675a5a;
    margin-right: 10px;
}
.check__box-brown{
    display: block;
    width: 18px;
    height: 18px;
    background-color: #864f4f;
}

.check__color-input:checked + .check_box::after{
    content: url(../Images/Svg/vec-check.svg);
    display: flex;
    justify-content: center;  
    background: transparent;
}


/* Checkbox brand*/
.check{
    font-family: $mainFontFamily;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding-left: 30px;
    margin-bottom: 14px;
    color: $darkGrey;
}
.checkbox__brand{
    display: flex;
    flex-direction: column;
    margin: 20px 0 15px;
}

.check__input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.chekbox__name{
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: -30px;
    background: url(../Images/Svg/checkbox.svg);
}

.check__input:checked + .chekbox__name{
    background: url(../Images/Svg/vec-check.svg) center no-repeat;
    border-radius: 3px;
    background-color: #245462;
}


.catalog__checkbox-link{
    font-family: $mainFontFamily;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #245462;
}