  .head__catalog-list {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 30px;
  }

  .head__catalog-menu{
    display: none;
  }

  .head__catalog-menu--main{
    margin-left: 47px;
  }
  
  .head__catalog-pic {
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .head__catalog-link {
    @include Font($mainFontFamily, $mainFontSize, $mainLineHeight, $weight, $darkGrey);
    margin-right: 50px;
  }
  
  .head__catalog-link--red {
    margin-right: 0;
    color:$red;
  }

  @media screen and (max-width: $tabletSize) {
    .head__catalog-list{
      padding-left: 24px;
      margin-top: 16px;
      margin-bottom: 30px;
    }

    .head__catalog-item:nth-child(6),:nth-child(7){
      display: none;
    }
    
    .head__catalog-menu{
      display: inline-block;
      margin-left: 20px;
    }

    .head__catalog-link{
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 16px;
      margin-right: 35px;
    }

    .head__catalog-link--last{
      font-size: 14px;
      line-height: 16px;
      color: $darkGrey;
    }
    
  }