  .products__title {
    @include Font($mainFontFamily, $mainFontSize, $mainLineHeight, $weightPr, $darkGrey);
    margin: 54px 0 6px;
    font-style: normal;

    &:before {
      content: "";
      position: absolute;
      top: -210px;
      right: 21px;
      display: block;
      background: url(../Images/Svg/like.svg) no-repeat;
      background-size: cover;
      width: 18px;
      height: 15px;
      z-index: 1;
    }
  }
  
  .products__text {
    font-family: $mainFontFamily;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 9px;
    color: $darkGrey;
  }
  
  .product-prices{
    display: flex;
    align-items: center;
  }

  .products__price {
    display: block;
    @include Font($mainFontFamily, $mainFontSize, $mainLineHeight, $weightPr, $darkGrey);
    margin-right: 6px;
  }
  
  .products__price-old {
    font-family: $mainFontFamily;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-decoration: line-through;
    cursor: none;
    color: #ccc;
  }

  @media screen and (max-width: $tabletSize){
      .products-item--tab{
        display: block;
      }
  
      .products__title{
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
      }
  
      .products__price{
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
      }
  }

  @media screen and (max-width: $mobileSize) {

    .products-item--tab{
      display: none;
    }

    .products-item--mob{
      display: block;
    }
  }