.range__filter-price{
    margin: 20px 20px 8px 20px;
    text-align: center;
}

.range__text{
    @include Font($mainFontFamily, $navFontSize, $navLineHeight, $weight, $darkGrey);
    display: inline-block;
}

.range__select{
    display: flex;
    position: relative;
    width: 159px;
    height: 10px;
    margin-bottom: 8px;
    padding: 0 34px 0 30px;
    background: #ececec;
}
.bar{
    display: block;
    width: 130px;
    height: 10px;
    padding: 0 10px;
    border-radius: 3px;
    background: #245462;
}

.toggle-min--pic{
    position: absolute;
    left: 22px;
    top: -2px;
    cursor: pointer;
}

.toggle-max--pic{
    position: absolute;
    right: 32px;
    top: -2px;
    cursor: pointer;
}

.range__price{
    display: flex;
    justify-content: space-around;
}

.range__price input{
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    width: 86px;
    min-height: 28px;
    background: #ececec;
    border: none;
    outline: none;
    text-align: center;
}


.range__price-between{
    font-size: 20px;
    font-weight: 700;
    width: 19px;
    padding: 9px 0 11px;
    text-align: center;
    font-size: 16px;
}
